streamlit>=1.24.0
sqlalchemy>=2.0.0
transformers>=4.30.0
torch>=2.0.0
datasets>=2.12.0
scikit-learn>=1.2.0
numpy>=1.24.0
python-dotenv>=1.0.0
requests>=2.31.0

google-search-results==2.4.2
python-dateutil==2.8.2
pandas==2.2.1
plotly==5.19.0

openai
nomic-embed-text
